<div class="filter-area">
  <select id="category" placeholder="Select Category" class="categoryInput" (change)="getFilters($event)">
    <option value=null>Select a category</option>
    <option *ngFor="let categoryOption of categoryFilteredOptions$ | async let i = index" [attr.data-index]="i"
      [value]="i">
      {{ categoryOption }}
    </option>
  </select>
  <select id="tags" placeholder="Select tag" class="tagInput" (change)="getFiltersTag($event)">
    <option value = null>Select a tag</option>
    <option *ngFor="let tag of taglist"  [value]="tag.id">
      {{ tag.title }}
    </option>
  </select>
</div>
 <br />

<input type="search" [(ngModel)]="searchValue" (keyup)="searchMemes()"  placeholder="Search memes" class="form-control" /> <br />

<div *ngIf="searchValue.length === 0">
  <nb-list class="dashboardlist" nbInfiniteList [threshold]="500" (bottomThreshold)="loadNext()">
    <nb-list-item *ngFor="let item of items">
      <nb-card id={{item.id}}>
        <nb-card-header>{{item.title}}</nb-card-header>
        <nb-card-body>
          <img src="{{item.imageSrc}}" alt="meme" />
        </nb-card-body>
        <nb-card-footer>
          <nb-card-footer__votes-block>
            <nb-card-footer__votes-block-up (click)="sendMessage('u', item)">
              Upvotes: {{item.likes}}
            </nb-card-footer__votes-block-up>
            <nb-card-footer__votes-block-down (click)="sendMessage('d', item)">
              Downvotes: {{item.dislikes}}
            </nb-card-footer__votes-block-down>
          </nb-card-footer__votes-block>
        </nb-card-footer>
      </nb-card>
    </nb-list-item>
  </nb-list>
</div>

<div *ngIf="searchValue.length > 0">
  <h1>Search results for '{{ searchValue }}'</h1>
  <nb-list class="dashboardlist" nbInfiniteList [threshold]="500" (bottomThreshold)="loadNext()">
    <nb-list-item *ngFor="let item of searchItems">
      <nb-card id={{item.id}}>
        <nb-card-header>{{item.title}}</nb-card-header>
        <nb-card-body>
          <img src="{{item.imageSrc}}" alt="meme" />
        </nb-card-body>
        <nb-card-footer>
          <nb-card-footer__votes-block>
            <nb-card-footer__votes-block-up (click)="sendMessage('u', item)">
              Upvotes: {{item.likes}}
            </nb-card-footer__votes-block-up>
            <nb-card-footer__votes-block-down (click)="sendMessage('d', item)">
              Downvotes: {{item.dislikes}}
            </nb-card-footer__votes-block-down>
          </nb-card-footer__votes-block>
        </nb-card-footer>
      </nb-card>
    </nb-list-item>
  </nb-list>
</div>