<nb-list class="dashboardlist" nbInfiniteList [threshold]="500">
  <nb-list-item *ngFor="let item of items">
    <nb-card>
      <nb-card-header>{{item.title}}</nb-card-header>
      <nb-card-body>
        <img src="{{item.image}}"/>
      </nb-card-body>
      <nb-card-footer>
        <nb-card-footer__votes-block>
          <nb-card-footer__votes-block-up>
            Upvotes: {{item.upvotes}}
          </nb-card-footer__votes-block-up>
          <nb-card-footer__votes-block-down>
            Downvotes: {{item.downvotes}}
          </nb-card-footer__votes-block-down>
        </nb-card-footer__votes-block>
      </nb-card-footer>
    </nb-card>
  </nb-list-item>
</nb-list>