
<form>
  <select id="category" placeholder="Select Category" class="categoryInput" (change)="getFilters($event)">
    <option *ngFor="let categoryOption of categoryFilteredOptions$ | async let i = index" [attr.data-index]="i"  [value]="i">
      {{ categoryOption }}
    </option>
  </select>
  <!-- <button class="add-category-button">Add category</button> -->
</form>

<nb-list class="dashboardlist" nbInfiniteList [threshold]="500" (bottomThreshold)="loadNext()">
  <nb-list-item *ngFor="let item of items">
    <nb-card id={{item.id}}>
      <nb-card-header>{{item.title}}</nb-card-header>
      <nb-card-body>
        <img src="{{item.imageSrc}}" alt="meme"/>
      </nb-card-body>
      <nb-card-footer>
        <nb-card-footer__votes-block>
          <nb-card-footer__votes-block-up (click)="sendMessage('u', item)">
            Upvotes: {{item.likes}}
          </nb-card-footer__votes-block-up>
          <nb-card-footer__votes-block-down (click)="sendMessage('d', item)">
            Downvotes: {{item.dislikes}}
          </nb-card-footer__votes-block-down>
        </nb-card-footer__votes-block>
      </nb-card-footer>
    </nb-card>
  </nb-list-item>
</nb-list>
