<div class="container">

  <form>
      <!-- <img  id="image" crossorigin="anonymous" src="" display="hidden"> -->
   <input type ="text" id="title" placeholder="Text for Image">
   <input type="text" id="inp" placeholder="Title for image">
   <input type="file" id="imageLoader"name="imageLoader"/>

  </form>
  <form>
    <input #autoInput nbInput type="text" id="tag" (input)="onChange()" placeholder="Enter tag" [nbAutocomplete]="auto" autocomplete="off" class="tagInput"/>
    <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)">
      <nb-option *ngFor="let option of filteredOptions$ | async" [value]="option">
        {{ option }}
      </nb-option>
    </nb-autocomplete>
    <button class="add-tag-button">Add tag</button>
  </form>
  <canvas id="canvas" class="canvas_image">
  </canvas>




  <button class="save-button">Save button</button>
</div>
